* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h2 {
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

#contactButton {
    display: inline-block;
    padding: 8px 30px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2527a7;
    border: none;
    border-radius: 40px;
}

#contactButton:hover {
    background-color: #0e1c69;
}

.aboutMeDIV {
    margin-top: 100px;
    position: relative;

}


.aboutMeDIV p {
    width: 60%;
    right: 0;
    position: absolute;
    text-align: justify;
    font-size: 17px;
    color: #fff;
}

.aboutMeDIV h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    right: -100%;
    height: 100%;
    top: 0;
    justify-content: center;
    border-radius: 25px;
    background-color: #273792;
    transition: right 1s ease-in-out;
}

.contactForm.visible {
    right: 0;
}

#contactForm h2 {
    margin-bottom: 10px;
    font-size: 54px;
    color: #fff;
    text-align: center;
    margin-bottom: 75px;
}


input, textarea {
    width: 95%;
    padding: 12px 26px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

form {

    text-align: center;
    font-size: 20px;
    color: #fff;
    position: relative;
}

#verification {
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: relative;

}

#verification .field {
    margin-bottom: 10px;
}

#verification .questionField {
    font-size: 25px;
    margin-bottom: 10px;
}

#sendFormButton {
    display: flex;
    justify-content: center;
    padding: 8px 30px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2527a7;
    border: none;
    border-radius: 40px;
    margin: 0 auto;

}

#sendFormButton:hover {
    background-color: #0e1c69;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
}

label {
    display: flex;
    justify-content: center;
}

.aboutMeDIV img {
    height: auto;
    width: 430px;
}

.aboutMeDIVText {
    width: 550px;
}

.aboutMeDIV {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.answerWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30%;
    align-items: center;
}

.answerWrapper input{
    position: absolute;
    right: 0px;
}

textarea {
    resize: none;
}

.fa.fa-times {
    cursor: pointer;
}